/***
 *     __      __         _                ___ _        _     
 *     \ \    / /_ _ _  _| |__  __ _ _ _  / __| |_ _  _| |___ 
 *      \ \/\/ / _` | || | '_ \/ _` | '_| \__ \  _| || | / -_)
 *       \_/\_/\__,_|\_, |_.__/\__,_|_|   |___/\__|\_, |_\___|
 *                   |__/                          |__/       
 */

* {
    border: none;
    border-radius: 0;
    font-family: "Noto Sans";
    font-size: 20px;
    min-height: 0;
}

window#waybar {
    background: #181818;
    border-bottom: 3px solid rgba(0, 0, 0, 0.0);
    color: #e0e0e0;
}

#workspaces button {
    padding: 0 3px;
    background: transparent;
    color: #e0e0e0;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #1d1f21;
    border-bottom: 3px solid #c5c6c8;
}

#mode {
    background: #181818;
    border-bottom: 3px solid #c5c6c8;
    padding: 0 15px;
    margin: 0 5px;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray,
#idle_inhibitor, #backlight, #temperature, #custom-updates {
    padding: 0 15px;
    margin: 0 5px;
    font-family: "NanumSquareRound Bold";
    font-size: 20px;
}

#clock {
    background-color: #181818; /*#b294bb*/
    color: #e0e0e0;
}

#network {
    background: #81a2be;
    color: black;
}

#network.disconnected {
    background: #cc6666;
}

#battery {
    background-color: #b5bd68;
    color: black;
}

@keyframes blink {
    to {
        background-color: #c5c8c6;
        color: black;
    }
}

#battery.max.charging {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning.charging {
    background-color: #c5c8c6;
}

#battery.warning:not(.charging), #battery.critical.charging {
    background-color: #cc6666;
}

#battery.critical:not(.charging) {
    background: #cc6666;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio {
    background: #f0c674;
    color: black;
}

#temperature {
    padding: 0 20px;
    background-color: #de935f;
    color: black;
}

#temperature.critical{
    background-color: #cc6666;
}

#custom-updates {
    background-color: #b294bb; /*#8abeb7*/
    color: black;
}

#tray {
    background-color: #181818;/*#c5c8c6*/
}

/* ---- UNUSED ---- */

#backlight {
    background-color: #de935f;
    color: black;
}

#cpu {
    background: #2ecc71;
    color: #000000;
}

#memory {
    background: #9b59b6;
}

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}
